



.coming-soon-sec{
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon{
    font-size: 6vmax;
}

.allEventsHeading{
    width: 50%;
    color: #26235c;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    vertical-align: top;
}

.eventsFilterButtonSec{
    display: inline-flex;
    width: 50rem;
    text-align:  center;
    margin-left: 5rem;
}

    .eventsFilterButton{
        flex: 1;
        height: 3rem;
        font-size: 1.3rem;
        font-weight: 700 ;
        color: #ffffff;
        background: #25255C;
        margin: 1rem 2rem 0 0;
        box-shadow: 0.5rem .5rem .5rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        border: none;
    }

.allEventsCardsSec{
    margin-left: 5rem;
}

    .allEventsCard{
        display: inline-block;
        width : 12.5rem;
        margin-right: 3.45rem;
        margin-top: 2rem;
        vertical-align: top;
    }

        .allEventCardImg{
            width : 12.5rem;
            height : 17.5rem;
            box-shadow: 0.3rem .3rem .3rem rgba(0, 0, 0, 0.25);
            border-radius: 0.5rem;
        }

        .allEventName{
            color: #25255C;
            font-size: 1.5rem;
            font-weight: 600;
            margin: 0.3rem 0 0 0;
        }

        .allEventAddress{
            color: #25255C;
            font-size: 1rem;
            margin: 0.3rem 0 0 0;
        }

        .allEventOrganiserName{
            color: #25255C;
            font-size: 1rem;
            margin: 0.3rem 0 0 0;
        }