.SBmainsections{

}

  .SBblogsection{
    display: inline-block;
    width: 69%;
    margin-top: 8.5%;
  }

    .SBheading{
      width: 80%;
      color: #25255c;
      font-weight: 700;
      font-size: 2.5vmax;
      line-height: 2.5vmax;
      margin: 0;
      
      margin-left: 8%;
    }

    .SBauthor{
      color: #25255c;
      font-weight: 600;
      font-size: 2vmax;
      line-height: 2.5vmax;
      margin: 0;
      margin-top: 2%;
      margin-left: 8%;
      text-decoration: underline;
    }

    .SBtimestamp{
      margin-left: 8%;
      margin-top: 3%;
    }

      .SBplanner{
        display: inline-block;
        width: 4.1%;
      }

      .SBdate{
        display: inline-block;
        color: #25255c;
        font-weight: 350;
        font-size: 1.5vmax;
        margin: 0;
        margin-left: 3%;
        vertical-align: top;
      }

    .SBcontentsec{
      width: 85%;
      color: #25255c;
      font-weight: 400;
      font-size: 1.85vmax;
      line-height: 2.2vmax;
      margin-top: 4%;
      margin-left: 8%;
    }

      .SBimg{
        width: 83%;
        border-radius: 15px;
      }

      .SBcontenttext{
        margin: 0;
        margin-top: 4%;
        margin-bottom: 4%;
      }

  .SBRelatedBlogSec{
    display: inline-block;
    width: 30.5%;
    margin-top: 11%;
    border-left: 1px solid rgba(37, 37, 92, 0.37);
    vertical-align: top;
  }

    .SBRelatedBlogHeading{
      color: #25255c;
      font-size: 2.8vmax;
      font-weight: 700;
      margin: 0;
      margin-top: 10%;
      margin-bottom: 10%;
      text-align: center;
    }

    .SBRelatedBlogSec a{
      text-decoration: none;
    }

      .SBRelatedBlogCard{
        width: 73.3%;
        margin: auto;
      }

        .SBRelatedBlogImg{
          
          width: 100%;
          height: 14.7vmax;
          margin-top: 8.5%;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          border-radius: 15px;
        }

        .SBRelatedBlogTitle{
          color: #25255c;
          font-size: 1.85vmax;
          font-weight: 700;
          line-height: 2.2vmax;
          margin: 0;
          margin-top: 8%;
        }

.SBShareSection{
  margin-top: 4%;
  margin-left: 5.5%;
  margin-bottom: 5%;
}

  .SBShareHeading{
    color: #25255c;
    font-size: 3vmax;
    font-weight: 700;
    margin: 0;
    
  }

  .SBShareButtons{
    cursor: pointer;
    width: 19%;
    margin-right: 3.5%;
    margin-top: 3.4%;
  }

.SBNextBlogSec{
  padding-top: 4%;
  padding-left: 5.5%;
  border-top: 1px solid rgba(37, 37, 92, 0.37);
}  

  .SBNextBlogHeading{
    color: #25255c;
    font-size: 3vmax;
    font-weight: 700;
    margin: 0;
  }  

  .SBNextBlogCard{
    display: inline-block;
    width: 30%;
    margin-top: 4%;
    margin-right: 3%;
  }

    .SBNextBlogimg{
      width: 100%;
      border-radius: 15px ;
    }

    .SBNextBlogTitle{
      color: #25255c;
      font-size: 2.2vmax;
      font-weight: 600;
      line-height: 2.2vmax;
      margin: 0;
      margin-top: 6%;
    }


@media only screen and (max-width: 600px) and (min-width: 320px){
  .SBmainsections{

  }
  
    .SBblogsection{
      display: table;
      width: 94%;
      margin-top: 8.5%;
      margin-left: 3%;
    }
  
      .SBheading{
        display:table-row-group;
        color: #25255c;
        font-weight: 700;
        font-size: 2.4vmax;
        line-height: 2.5vmax;
        margin: 0;
        margin-left: 8%;
        
      }

      .SBauthor{
        color: #25255c;
        font-weight: 600;
        font-size: 2vmax;
        line-height: 2.5vmax;
        margin: 0;
        margin-top: 2%;
        margin-left: 1%;
        text-decoration: underline;
      }
  
      .SBtimestamp{
        display:table-header-group;
        margin-left: 8%;
        margin-top: 3%;
      }
  
        .SBplanner{
          display: inline-block;
          width: 5%;
          vertical-align: top;
        }
  
        .SBdate{
          display: inline-block;
          color: #25255c;
          font-weight: 350;
          font-size: 1.4vmax;
          margin: 0;
          margin-left: 3%;
          vertical-align: top;
        }
  
      .SBcontentsec{
        width: 100%;
        color: #25255c;
        font-weight: 400;
        font-size: 1.6vmax;
        line-height: 2.0vmax;
        margin-top: 4%;
        margin-left: 0;
      }
  
        .SBimg{
          width: 100%;
          border-radius: 15px;
        }
  
        .SBcontenttext{
          margin: 0;
          margin-top: 4%;
          margin-bottom: 4%;
        }

        .SBRelatedBlogSec{
          display: none;
        }

    .SBShareSection{
          display: inline-flex;
          margin-top: 0;
          margin-left: 0;
          margin-bottom: 2%;
          padding: 2% 0 ;
          border-top: 1px solid rgba(37, 37, 92, 0.37); 
          border-bottom: 1px solid rgba(37, 37, 92, 0.37);
    }
        
          .SBShareHeading{
            flex: 1;
            color: #25255c;
            font-size: 2vmax;
            font-weight: 700;
            margin: 0;
            margin-left: 3%;
          }
        
          .SBShareButtons{
            cursor: pointer;
            width: 19%;
            margin-right: 2%;
            margin-top: 0;
          }    
}